body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#h {
    font-family: arial;
    font-weight: bold;
}

#stapel{
    top: 50px;
    border: 3px solid black;
    width: 150px;
    height: 250px;
    position: absolute;
}

#ablage{
    top: 50px;
    left: 250px;
    border: 3px solid black;
    width: 350px;
    height: 250px;
    position: absolute;
}

#gegnerablage{
    top: 320px;
    left: 250px;
    border: 3px solid black;
    width: 350px;
    height: 250px;
    position: absolute;
}

.score{
    top: 320px;
    border: 3px solid black;
    width: 150px;
    height: 20px;
    position: absolute;
}

#gscore{
    top: 350px
}

#hold{
    position: absolute;
    top: 380px;
    left: 10px;
    height: 50px;
    width: 150px;
}

.karte{
    top: 50px;
    position: absolute;
}

@keyframes rotieren {
    0%{transform: rotateY(-180deg);}
    100%{transform: rotateY(0deg);}
}